*.icloud
.idea
.DS_Store
node_modules
dist
lerna-debug.log
yarn-error.log
**/*.tsbuildinfo
tasks/.verdaccio
tasks/e2e/cypress/fixtures/example.json
tasks/release/*.md
tmp/
blog-test-project/*
.yarn/*
**/.yarn/install-state.gz
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
*.code-workspace
.nova

# For esbuild.
**/meta.json
**/meta.*.json
