*.icloud
.cosine
.idea
.DS_Store
node_modules
dist
lerna-debug.log
yarn-error.log
**/*.tsbuildinfo
tasks/.verdaccio
tasks/e2e/cypress/fixtures/example.json
tmp/
blog-test-project/*
.yarn/*
**/.yarn/install-state.gz
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
*.code-workspace
.nova
packages/**/redwoodjs-*.tgz
packages/**/storybook-*.tgz
packages/create-redwood-app/create-redwood-app.tgz

# For esbuild.
**/meta.json
**/meta.*.json

.nx/cache
.nx/workspace-data
