# Ignore built code
**/dist

# Ignore fixture projects
/__fixtures__

# Ignore the certain files in /docs
/docs/.docusaurus
/docs/build
/docs/versioned_docs
/docs/versioned_sidebars
# https://github.com/prettier/prettier/issues/16952
/docs/docs/how-to/pagination.md
/docs/docs/tutorial/chapter2/routing-params.md
/docs/docs/tutorial/chapter6/comment-form.md

# Ignore the .nx directory
/.nx

# Ignore create-redwood-app (we don't want to mismatch between framework and project)
/packages/create-redwood-app/templates
/packages/create-redwood-app/tests/**/*.sh

# Ignore create-redwood-rsc-app (it has it's own config)
/packages/create-redwood-rsc-app

# TODO(jgmw): Is this too broad?
# Ignore test fixtures
**/__testfixtures__
**/__tests__/fixtures
**/__tests__/__fixtures__
