# Ignore built code
**/dist

# Ignore fixture projects
__fixtures__

# Ignore the certain files in /docs
/docs/versioned_docs
/docs/versioned_sidebars

# Ignore the .nx directory
/.nx

# Ignore create-redwood-app (we don't want to mismatch between framework and project)
packages/create-redwood-app

# Ignore create-redwood-rsc-app (it has it's own config)
packages/create-redwood-rsc-app

# TODO(jgmw): Is this too broad?
# Ignore test fixtures
**/__testfixtures__
**/__tests__/fixtures

# TODO(jgmw): Re-enable these in managable chunks
packages/create-redwood-app/tests/e2e_prompts*
