/* IMPORTANT: use class substring matching for classes that include "@docusaurus". This prevents styling build failures in production   */
/* ex: [class^='docTitle'] instead of .docTitle_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocItem-  */

/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ea580c;
  --ifm-color-primary-dark: #c2410c;
  --ifm-color-primary-darker: #9a3412;
  --ifm-color-primary-darkest: #7c2d12;
  --ifm-color-primary-light: #f97316;
  --ifm-color-primary-lighter: #fb923c;
  --ifm-color-primary-lightest: #fdba74;
  --ifm-code-font-size: 95%;
  --ifm-link-color: #0f766e;
  --ifm-menu-color-background-active: #fff7ed;
  --ifm-menu-color-background-hover: #f5f5f4;
  --ifm-card-background-color: #ffffff;
  --ifm-code-background: #ffedd5;
  --ifm-background-surface-color: #fff7ed;
  --ifm-blockquote-color: #e38163;
  --ifm-blockquote-padding-vertical: var(--ifm-global-spacing);
  --ifm-color-emphasis-300: #eba48e;
  --ifm-code-border-radius: 0.25rem;
  --ifm-code-font-size: 90%;
  --ifm-font-size-base: 16px;
  --ifm-font-family-base: 'Inter', 'Open Sans', system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  --ifm-font-family-monospace: 'Fira Code', 'Fira Mono', SFMono-Regular, Menlo,
    Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --ifm-font-color-base: #292524;
  --ifm-footer-background-color: #fdf8f6;
  --ifm-menu-color-active: #682712;
  --ifm-menu-link-padding-vertical: 0.5rem;
  --ifm-navbar-link-hover-color: #682712;
  --ifm-spacing-horizontal: 2rem;
  --ifm-heading-font-weight: 600;
  --ifm-heading-color: #115e59;
}

.row .col--6 {
  padding: 0 0 0 2rem;
}


h1 {
  margin-top: 1.5rem;
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

a:hover {
  background-color: #f0fdfa;
  text-decoration: none;
}

.row .col:last-child {
  padding-left: 0;
}

/* Page titles, h1 */
[class^='docTitle'] {
  font-size: 2rem !important;
}

html[data-theme='dark'] {
  --ifm-font-color-base: #fafaf9;
  --ifm-background-color: #1f0b04;
  --ifm-background-surface-color: #341309;
  --ifm-menu-color-background-active: #7c2d12;
  --ifm-heading-color: #14b8a6;

  --ifm-menu-color-background-active: #ffedd5;
  --ifm-menu-color-background-hover: #ffedd5;
}

html[data-theme='dark'] a {
  color: var(--ifm-color-primary-lightest);
}

html[data-theme='dark'] .navbar__link--active {
  color: var(--ifm-color-primary-lightest);
}

html[data-theme='dark'] .menu__link:hover {
  color: var(--ifm-color-primary-dark);
}

html[data-theme='dark'] .menu__link--active {
  color: var(--ifm-color-primary-dark);
}

.react-toggle-track {
  background-color: #682712 !important;
}

.DocSearch {
  --docsearch-searchbox-background: #ffffff;
}

.DocSearch-Button {
  color: #bf4722 !important;
}

html[data-theme='dark'] .DocSearch-Button {
  color: #e38163 !important;
}

.DocSearch-Button-Placeholder {
  font-size: 0.9rem !important;
}

.DocSearch-Button-Key {
  --docsearch-key-gradient: linear-gradient(-26.5deg, #682712, #341309);
  --docsearch-muted-color: #faeae5;
  --docsearch-key-shadow: inset 0 -2px 0 0 #1f0a04, inset 0 0 1px 1px #682712,
    0 2px 2px 0 rgba(3, 4, 9, 0.3);
}

html[data-theme='dark'] .DocSearch {
  --docsearch-searchbox-background: #1f0a04;
}

html[data-theme='dark'] code {
  color: #e38163;
  background-color: #341309;
}

.navbar__brand:hover {
  background-color: transparent;
}

.navbar__title {
  letter-spacing: -0.03rem;
}

.menu__link {
  font-size: 90%;
  font-weight: 600;
}

.markdown a {
  padding: 0 0.1rem;
  text-decoration: underline;
  transition: all;
  transition-duration: 0.1s;
}

.markdown a:hover {
  color: #115e59;
  text-decoration: none;
  border-radius: 0.25rem;
}

.markdown img {
  border: 1px solid #dddddd;
  border-radius: var(--ifm-global-radius);
}

blockquote {
  font-size: 90%;
  color: #682712;
  background-color: #fff7ed;
  border: 1px solid #ffedd5;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 2rem 0;
}

blockquote code {
  background-color: #f3c7ba;
}

html[data-theme='dark'] blockquote {
  background-color: #4c1502;
  border-color: #7c2d12;
  color: #ffedd5;
}

code {
  color: var(--ifm-color-primary-darker);
  font-size: 85%;
  border: none;
  padding: 0.1rem 0.3rem;
}

html[data-theme='dark'] blockquote [class^='codeBlockLines'] {
  background-color: #120502 !important;
}

[class^='codeBlockLines'] {
  background-color: #0d0201 !important;
}

.token.comment {
  color: #8e8282 !important;
}

.navbar {
  box-shadow: none;
}

.pagination-nav__link {
	border-color: #ffedd5;
}
.pagination-nav__link:hover {
	border-color: #fdba74;
  background-color: transparent;
}

.pagination-nav__sublabel {
	color: var(--ifm-color-primary-light);
}

.footer {
  background-color: #fff7ed;
  color: var(--ifm-color-primary-darker);
}

html[data-theme='dark'] .footer {
  background-color: var(--ifm-background-surface-color);
}

.footer__title {
	color: var(--ifm-color-primary-darker);
	margin-bottom: 0.5rem;
}

html[data-theme='dark'] .footer__title {
	color: var(--ifm-color-primary-light);
}

.footer__link-item {
  color: var(--ifm-color-primary-darker);
}

html[data-theme='dark'] .footer__link-item {
	color: var(--ifm-color-primary-light);
}

.footer__copyright {
	margin-top: 2rem;
	color: var(--ifm-color-primary-darker);
}

html[data-theme='dark'] .footer__copyright {
	margin-top: 2rem;
	color: var(--ifm-color-primary-light);
}

.docusaurus-highlight-code-line {
  background-color: #3c1913;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* Hack to get youtube videos to be responsive */
.video-container {
  position: relative;
  padding-bottom: 60%;
  margin: 1rem 0;
}

.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Announcement bar */

[class^='announcementBarContent'] {
  color: #fff;
  background-color: var(--ifm-color-primary);
}
html[data-theme='dark'] [class^='announcementBarContent'] {
  color: #fff;
}
html[data-theme='dark'] [class^='announcementBarContent'] a {
  color: #fff;
}

.github-logo:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
  content: "";
  display: flex;
  height: var(--icon-size);
  width: var(--icon-size);
}

/* Sidebar icons */

.docs-sidebar-category > div {
  align-items: center;
}

.tutorials-sidebar-category > div {
  align-items: center;
}

.cookbook-sidebar-category > div {
  align-items: center;
}
