.navigation-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  & > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: color-mix(in srgb, yellow 50%, transparent);
    border-bottom: 2px dashed color-mix(in srgb, yellow 90%, black);

    & ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
    }

    & li {
      margin-right: 10px;
    }

    & a {
      text-decoration: none;
      color: #333;
      padding: 5px;
      border-bottom: 2px solid transparent;

      & .auth-status {
        display: inline-block;
        padding-left: 2px;
        margin-top: -6px;
      }
    }

    & a:hover {
      border-bottom: 2px solid #333;
    }
  }

  & > p {
    margin: 0.4rem 0;
  }

  & > hr {
    margin: 0.5rem 0 0 0;
  }

  & > main {
    display: flex;
    flex-grow: 1;

    & > div {
      width: 100%;
    }
  }
}
