# Changelog

Unique contributors: ${uniqueContributors}

PRs merged: ${prsMerged}

## Features

${features}

## Fixed

${fixed}

## Chore

${chore}

### Package Dependencies

<details>
<summary>View all Dependency Version Upgrades</summary>
<ul>
${packageDependencies}
</ul>
</details>

## Manual

${manual}
