.env
publish/*
!publish/downloads
!publish/images
!publish/favicon.*
!publish/security.txt
code/html/cookbook/*.html
!code/html/cookbook/index.html
code/html/docs/*.html
!code/html/docs/index.html
code/html/tutorial/*.html
!code/html/tutorial/index.html
code/html/tutorial2/*.html
!code/html/tutorial2/index.html
code/html/videos/*.html
!code/html/videos/index.html
code/html/_*nav.html
!code/html/_nav.html
!code/html/_community_nav.html
!code/html/_top_level_nav.html
code/html/news.html
