.rw-scaffold {
  @apply bg-white text-gray-600;
}
.rw-scaffold h1,
.rw-scaffold h2 {
  @apply m-0;
}
.rw-scaffold a {
  @apply bg-transparent;
}
.rw-scaffold ul {
  @apply m-0 p-0;
}
.rw-scaffold input:-ms-input-placeholder {
  @apply text-gray-500;
}
.rw-scaffold input::-ms-input-placeholder {
  @apply text-gray-500;
}
.rw-scaffold input::placeholder {
  @apply text-gray-500;
}
.rw-header {
  @apply flex justify-between py-4 px-8;
}
.rw-main {
  @apply mx-4 pb-4;
}
.rw-segment {
  @apply w-full overflow-hidden rounded-lg border border-gray-200;
  scrollbar-color: theme('colors.zinc.400') transparent;
}
.rw-segment::-webkit-scrollbar {
  height: initial;
}
.rw-segment::-webkit-scrollbar-track {
  @apply rounded-t-none rounded-b-[10px] border-0 border-t border-solid border-gray-200 bg-transparent p-[2px];
}
.rw-segment::-webkit-scrollbar-thumb {
  @apply rounded-full border-[3px] border-solid border-transparent bg-zinc-400 bg-clip-content;
}
.rw-segment-header {
  @apply bg-gray-200 py-3 px-4 text-gray-700;
}
.rw-segment-main {
  @apply bg-gray-100 p-4;
}
.rw-link {
  @apply text-blue-400 underline;
}
.rw-link:hover {
  @apply text-blue-500;
}
.rw-forgot-link {
  @apply mt-1 text-right text-xs text-gray-400 underline;
}
.rw-forgot-link:hover {
  @apply text-blue-500;
}
.rw-heading {
  @apply font-semibold;
}
.rw-heading.rw-heading-primary {
  @apply text-xl;
}
.rw-heading.rw-heading-secondary {
  @apply text-sm;
}
.rw-heading .rw-link {
  @apply text-gray-600 no-underline;
}
.rw-heading .rw-link:hover {
  @apply text-gray-900 underline;
}
.rw-cell-error {
  @apply text-sm font-semibold;
}
.rw-form-wrapper {
  @apply -mt-4 text-sm;
}
.rw-cell-error,
.rw-form-error-wrapper {
  @apply my-4 rounded border border-red-100 bg-red-50 p-4 text-red-600;
}
.rw-form-error-title {
  @apply m-0 font-semibold;
}
.rw-form-error-list {
  @apply mt-2 list-inside list-disc;
}
.rw-button {
  @apply flex cursor-pointer justify-center rounded border-0 bg-gray-200 py-1 px-4 text-xs font-semibold uppercase leading-loose tracking-wide text-gray-500 no-underline transition duration-100;
}
.rw-button:hover {
  @apply bg-gray-500 text-white;
}
.rw-button.rw-button-small {
  @apply rounded-sm py-1 px-2 text-xs;
}
.rw-button.rw-button-green {
  @apply bg-green-500 text-white;
}
.rw-button.rw-button-green:hover {
  @apply bg-green-700;
}
.rw-button.rw-button-blue {
  @apply bg-blue-500 text-white;
}
.rw-button.rw-button-blue:hover {
  @apply bg-blue-700;
}
.rw-button.rw-button-red {
  @apply bg-red-500 text-white;
}
.rw-button.rw-button-red:hover {
  @apply bg-red-700 text-white;
}
.rw-button-icon {
  @apply mr-1 text-xl leading-5;
}
.rw-button-group {
  @apply my-3 mx-2 flex justify-center;
}
.rw-button-group .rw-button {
  @apply mx-1;
}
.rw-form-wrapper .rw-button-group {
  @apply mt-8;
}
.rw-label {
  @apply mt-6 block text-left font-semibold text-gray-600;
}
.rw-label.rw-label-error {
  @apply text-red-600;
}
.rw-input {
  @apply mt-2 block w-full rounded border border-gray-200 bg-white p-2 outline-none;
}
.rw-check-radio-items {
  @apply flex justify-items-center;
}
.rw-check-radio-item-none {
  @apply text-gray-600;
}
.rw-input[type='checkbox'],
.rw-input[type='radio'] {
  @apply ml-0 mr-1 mt-1 inline w-4;
}
.rw-input:focus {
  @apply border-gray-400;
}
.rw-input-error {
  @apply border-red-600 text-red-600;
}
.rw-input-error:focus {
  @apply border-red-600 outline-none;
  box-shadow: 0 0 5px #c53030;
}
.rw-field-error {
  @apply mt-1 block text-xs font-semibold uppercase text-red-600;
}
.rw-table-wrapper-responsive {
  @apply overflow-x-auto;
}
.rw-table-wrapper-responsive .rw-table {
  min-width: 48rem;
}
.rw-table {
  @apply w-full text-sm;
}
.rw-table th,
.rw-table td {
  @apply p-3;
}
.rw-table td {
  @apply bg-white text-gray-900;
}
.rw-table tr:nth-child(odd) td,
.rw-table tr:nth-child(odd) th {
  @apply bg-gray-50;
}
.rw-table thead tr {
  @apply bg-gray-200 text-gray-600;
}
.rw-table th {
  @apply text-left font-semibold;
}
.rw-table thead th {
  @apply text-left;
}
.rw-table tbody th {
  @apply text-right;
}
@media (min-width: 768px) {
  .rw-table tbody th {
    @apply w-1/5;
  }
}
.rw-table tbody tr {
  @apply border-t border-gray-200;
}
.rw-table input {
  @apply ml-0;
}
.rw-table-actions {
  @apply flex h-4 items-center justify-end pr-1;
}
.rw-table-actions .rw-button {
  @apply bg-transparent;
}
.rw-table-actions .rw-button:hover {
  @apply bg-gray-500 text-white;
}
.rw-table-actions .rw-button-blue {
  @apply text-blue-500;
}
.rw-table-actions .rw-button-blue:hover {
  @apply bg-blue-500 text-white;
}
.rw-table-actions .rw-button-red {
  @apply text-red-600;
}
.rw-table-actions .rw-button-red:hover {
  @apply bg-red-600 text-white;
}
.rw-text-center {
  @apply text-center;
}
.rw-login-container {
  @apply mx-auto my-16 flex w-96 flex-wrap items-center justify-center;
}
.rw-login-container .rw-form-wrapper {
  @apply w-full text-center;
}
.rw-login-link {
  @apply mt-4 w-full text-center text-sm text-gray-600;
}
.rw-webauthn-wrapper {
  @apply mx-4 mt-6 leading-6;
}
.rw-webauthn-wrapper h2 {
  @apply mb-4 text-xl font-bold;
}
