name: Lint, Build & Test

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths-ignore: ['docs/**']

jobs:
  all:
    strategy:
      matrix:
        os: ['ubuntu-latest', 'windows-latest']
        node-version: ['14', '16.10']
      fail-fast: true
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }} | Node ${{ matrix.node-version }} latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Remove the tsc problem matcher if not ubuntu-node-16
        if: (matrix.os == 'ubuntu-latest' && matrix.node-version == '16.10') == false
        run: echo "echo "::remove-matcher owner=tsc::""

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

      - name: Cache yarn
        uses: actions/cache@v3
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: yarn-1235-${{ hashFiles('yarn.lock') }} # Change `yarn-{randomString}` to bust the cache
          restore-keys: |
            yarn-1234

      - name: Install dependencies
        run: yarn install --immutable

      - name: Determine if the PR only changed docs
        id: only_changed_docs
        uses: ./.github/actions/only_changed_docs

      - name: Check constraints, dependencies, and package.json's
        if: fromJSON(steps.only_changed_docs.outputs.only_changed_docs) == false
        uses: ./tasks/check

      - name: Build
        if: fromJSON(steps.only_changed_docs.outputs.only_changed_docs) == false
        run: yarn build

      - name: Run ESLint
        if: fromJSON(steps.only_changed_docs.outputs.only_changed_docs) == false
        run: yarn lint

      - name: Run tests
        if: fromJSON(steps.only_changed_docs.outputs.only_changed_docs) == false
        run: yarn test
