jobs:
  lint_markdown:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/prepare
      - run: pnpm lint:md

name: Lint Markdown

on:
  pull_request: ~
  push:
    branches:
      - main
